body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 15px 40px 25px 40px;
}

.menu {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    margin-bottom: 40px;
    font-weight: 900;
}

#header ul {
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 0px;
    margin: 0px;
}

#header a {
    text-decoration: none;
    color: white;
}

.header-content {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-self: center;
    color: white;
    width: 500px;
}

.header-left h2 {
    margin-bottom: 0px;
    font-size: 20px;
}

.header-left p {
    font-size: 16px;
}

.header-content img {
    width: auto;
    height: 230px;
}

#header button {
    margin-top: 15px;
    padding: 15px;
    width: fit-content;
    background-color: #3882f6;
    font-size: 15px;
    border-radius: 15px;
}





#main {
    display: flex;
    flex-direction: column;
    padding: 15px 40px 25px 40px;
    background-color: aliceblue;
}

.compare {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 0px;
}

#main img {
    display: block;
    width: 220px;
    height: 200px;
    margin: auto;
}

#main ul {
    padding: 0px;
    margin: 0px;
    list-style: disc;
}

.googleflights,
.skyscanner,
.kayak {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 280px;
}

#heading {
    text-align: center;
    font-size: 22px;
    margin-top: 5px;
}

.compare h3 {
    margin-bottom: 2px;
    font-size: 18px;
    text-align: center;
}

.compare p {
    margin-bottom: 5px;
    text-align: justify;
}

.compare h4 {
    text-align: left;
    margin-top: 8px;
    margin-bottom: 5px;
    text-decoration: underline;
}





#quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-content: center;
    padding: 60px 40px 60px 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#quote p {
    padding-bottom: 5px;
    margin: auto;
    font-size: 22px;
    font-style: italic;
}

#quote .author {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    width: 660px;
    justify-content: flex-end;
}

#footer {
    background-color: rgb(83, 82, 82);
    color: #e5e7eb;
    padding: 15px;
    font-size: 13px;
}

#footer a {
    color: #e5e7eb;
}